{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "syntax-async-functions",
    "transform-decorators-legacy",
    "transform-regenerator",
    "transform-decorators",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}